.page {
  min-width: 1100px;
  max-width: 1600px;
  margin: auto;
  font-family: "Helvetica Neue", "Arial", "sans-serif";
  font-size: 16px;
  line-height: 20px;
  background-color: #fff;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

.header {
  display: flex;
  flex-direction: column;
  height: 100vh;
  min-height: 72px;
  max-height: 120px;
  padding: 30px 10px 40px;
  position: relative;
  box-sizing: border-box;
}

.nav {
  display: flex;
  justify-content: space-around;
  padding: 0;
}

.nav__logo {
  justify-content: flex-start;
  max-width: 601px;
  max-width: 532px;
}

.nav__links {
  border: 1px solid red;
  display: flex;
  margin-top: 8px;
  margin-left: 700px;
  column-gap: 20px;
  list-style-type: none;
  padding: 0;
  color: #2f80ed;
}

.nav__link {
  color: #000000;
  text-decoration: none;
  font-weight: bold;
}

.header__title {
  max-width: 601px;
  font-size: 66px;
  line-height: 76px;
  font-weight: 500;
  margin-top: 128px;
  margin-bottom: 32px;
}

.header__description {
  max-width: 532px;
  font-size: 20px;
  line-height: 30px;
}

.header__image {
  z-index: 1;
  position: absolute;
  top: 135px;
  right: 20px;
  max-width: 636px;
}

.header__footer {
  margin-top: auto;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  box-sizing: border-box;
}

.header__link {
  color: #2f80ed;
  text-decoration: none;
  margin-top: 128px;
}

.header__address {
  margin-top: 150px;

  color: #838383;
}
.events {
  padding: 100px 0 120px 80px;
  display: flex;
  align-items: start;
  justify-content: space-between;
  box-sizing: border-box;
  background-color: #f2f2f2;
}

.events__content {
  flex-basis: 580px;
}

.events__heading {
  font-size: 20px;
  font-weight: 500;
  line-height: 30px;
  margin: 0;
}

.events__title {
  font-size: 44px;
  font-weight: 500;
  line-height: 52px;
  margin: 32px 0 0;
}

.events__info-section {
  margin-top: 32px;
}

.event-info__item {
  display: flex;
  align-items: center;
  margin-bottom: 4px;
  font-weight: 500;
}

.event-info__icon {
  background-repeat: no-repeat;
  background-position: center;
  margin-right: 12px;
  width: 24px;
  height: 24px;
}

.event-info__icon_type_calendar {
  background-image: url(../images/icon_calendar.svg);
}

.event-info__icon_type_pin {
  background-image: url(../images/icon_pin.svg);
}

.event-info__text {
  font-size: 20px;
  font-weight: 500;
  line-height: 30px;
  margin: 0;
}

.events__description {
  margin: 40px 0 60px;
}

.events__more {
  color: #2f80ed;
  text-decoration: none;
}

.events__cover {
  /* flex-grow: 1;
  flex-shrink: 0;
  flex-basis: 780px;
  max-width: 780px;
  position: relative; */
}

.events__image {
  /* max-width: 100%; */
}

.person {
  /* position: absolute;
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 10px; */
}

.person_name_feynman {
  /* Use os valores corretos das propriedades top/right/bottom/left para posicionar o elemento */
}

.person_name_burbidge {
  /* Use os valores corretos das propriedades top/right/bottom/left para posicionar o elemento */
}

.person_name_cannon {
  /* Use os valores corretos das propriedades top/right/bottom/left para posicionar o elemento */
}

.person_name_mitchell {
  /* Use os valores corretos das propriedades top/right/bottom/left para posicionar o elemento */
}

.person_name_tarter {
  /* Use os valores corretos das propriedades top/right/bottom/left para posicionar o elemento */
}

.person__image {
  /* max-width: 100%; */
}

.person__image_size_l {
  /* width: 140px; */
}

.person__image_size_m {
  /* width: 100px; */
}

.person__image_size_s {
  /* width: 80px; */
}

.person__caption {
  /* text-align: center;
  font-size: 14px;
  margin: 0; */
}
